body {
	background-image: url("./rocket-bg.png");
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	background-size: cover;
	margin: 0;
}
