html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	color: white;
	background: #333;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background-image: url("/image/rocket-bg.png");
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	background-size: cover;
	margin: 0;
}

a {
	text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 600px) {
	.media-query {
		max-width: 80%;
	}
}

@media (min-width: 1084px) {
	.media-query {
		max-width: 65%;
	}
}

@media (min-width: 1375) {
	.media-query {
		max-width: 59%;
	}
}

@media (min-width: 1608px) {
	.media-query {
		max-width: 57%;
	}
}

@media (min-width: 1730) {
	.media-query {
		max-width: 52%;
	}
}

@media (min-width: 1800px) {
	.media-query {
		max-width: 47%;
	}
}

@media (min-width: 1970px) {
	.media-query {
		max-width: 40%;
	}
}
